/* GRID PER GENERI */
.grid-genres {
  display: grid;
  grid-template-columns: 1fr; /* ! MOBILE: 1 colonna */
}

/* ! TABLET → 2 colonne */
@media (min-width: 576px) {
  .grid-genres {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
}

/* ! DESKTOP → 3 colonne */
@media (min-width: 992px) {
  .grid-genres {
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }

}



.home-genres-list {
    max-width: 500px;
    margin: 0 auto;
    
  }
  
  .genre-list {
    list-style: none;
    padding: 0;
  }
  
  .genre-list li {
    margin: 12px 0;
    animation: fadeIn 5s;
  }
  
  .genre-list a {
    display: grid;
    padding: 14px 20px;
    background: #1f1f1f;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-size: 1.2rem;
    transition: 0.3s ease;
    text-align: center;
  }
  
  .genre-list a:hover {
    background: #d63384;
    transform: scale(1.05);
  }

  .scegligenere {
    color: white;
    margin-bottom: 4rem;
    text-align: center;
    max-width: auto;       
    overflow: hidden;       
    background-color: black;
    padding: 10px;
    position: relative;

  }


 /* ! EFFETTO FADE IN MENU HOMEPAGE */
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.6s ease forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

  
  /* ! SCROLL TEXT HOMEPAGE */

  .scrollText {
    color: #ffc107;
    text-align: center;
    max-width: auto;       
    overflow: hidden;        
    background-color: black;
    padding: 10px;
    position: relative;
  }
  
  .scroll-text {
    display: inline-block;
    white-space: nowrap;        
    animation: scroll 10s linear infinite;
    margin-top: 4rem;
    margin-bottom: 4rem;
    font-weight: 800;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(100%); 
    }
    100% {
      transform: translateX(-100%); 
    }
  }
  
