/* ! CONTAINER INTRO */
.intro-container {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 1;
    transition: opacity 0.9s ease;
  }
  
  /* ! FINE INTRO */
  .fade-out {
    opacity: 0;
    pointer-events: none;
  }
  
  /* ! LOGO BASE */
  .intro-logo {
    width: 140px;
    opacity: 1;
    transition:
      transform 1.2s ease-in-out,
      opacity 0.6s ease,
      filter 1s ease;
    filter: brightness(150%) saturate(0%);
  }
  
  /* ! LOGO ACCESO */
  .light-up {
    filter: invert(75%) sepia(91%) saturate(2479%)
            hue-rotate(1deg) brightness(110%) contrast(105%);
  }
  
  /* ! LOGO ESPLOSIONE */
  .explode {
    transform: scale(6);
    opacity: 0;
  }
  
  /* ! TESTO BASE */
  .intro-text {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    color: #ffc107;
    margin-top: 20px;
    font-size: 20px;
    opacity: 0;
    transform: translateY(10px);
  }
  
  
  /*! ANIMAZIONE SCRITTA */
  .animated-text {
    animation: fadeUp 1.5s ease forwards;
    animation-delay: 1s;
  }
  
  @keyframes fadeUp {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* ! SCRITTA CHE SCOMPARE */
  .hide-text {
    opacity: 0;
    transition: opacity 0.6s ease;
  }
  
  /* ! EFFETTO INTERMITTENZA DEL LOGO */
.flicker {
    animation: flickerLight 1.4s ease-in-out forwards;
  }
  
  @keyframes flickerLight {
    0% { filter: brightness(40%) saturate(0%); }
    20% { filter: brightness(150%) saturate(0%); }
    35% { filter: brightness(70%) saturate(0%); }
    55% { filter: brightness(180%) saturate(0%); }
    70% { filter: brightness(80%) saturate(0%); }
    100% { filter: brightness(150%) saturate(0%); }
  }

  /* ! TITOLO MY CINETECA */
.brand-title {
    position: absolute;
    top: 60%;
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    color: white;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 1s ease, transform 1s ease;
    will-change: opacity; 
  }
  
  /* ! Quando deve comparire */
  .brand-show {
    opacity: 1;
    transform: translateY(0);
  }
  
  /* ! Sparisce prima dell’esplosione */
  .brand-hide {
    opacity: 0;
    transform: none; 
    transition: opacity .4s ease; 
  }
  
  
  