.movie-card {
    border: none;
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .movie-card:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  }
  
  .card-img-top {
    width: 100%;
    height: 320px;
    object-fit: cover; 
  }

  
  .card-title {
    font-weight: 700;
    color: #222;
    
  }

  /* ! --- MOBILE SMALL (max 576px) --- */
@media (max-width: 576px) {

  /
  .movie-card {
    transform: none !important;
    box-shadow: none;
    border-radius: 10px;
  }


  .card-img-top {
    height: 200px !important;
    object-fit: cover;
  }


  .card-body {
    padding: 10px !important;
  }


  .card-title {
    font-size: 1rem;
  }


  .card-body p {
    font-size: 0.85rem;
  }


  .card-body ul li {
    font-size: 0.8rem;
  }


  .col-md-3 {
    width: 50% !important;
    padding: 5px;
  }
}


  
  