.logo-eye {
  width: 60px;          
  height: auto;
  filter: invert(75%) sepia(91%) saturate(2479%) hue-rotate(1deg) brightness(103%) contrast(105%);

  cursor: pointer;      
  transition: transform .2s ease;
}

.logo-eye:hover {
  transform: scale(1.1);
}

.custom-navbar {
    background-color: #141414;
    padding: 0.8rem 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  }

  .custom-burger {
    width: 28px;
    filter: invert(75%) sepia(91%) saturate(2479%) hue-rotate(1deg) brightness(103%) contrast(105%);
    transition: transform .3s ease;
  }
  
  .custom-burger:hover {
    transform: scale(1.1);
  }
  
  
  .navbar-brand {
    font-size: 1.4rem;
    letter-spacing: 1px;
    color: #f5c518 !important; 
  }
  
  .navbar-brand:hover {
    color: #ffda63 !important;
    transition: color 0.3s ease;
  }
  
  .nav-link {
    color: #eaeaea !important;
    margin-left: 1rem;
    font-weight: 500;
    transition: color 0.3s ease;
  }
  
  .nav-link:hover {
    color: #f5c518 !important;
  }
  
  .navbar-toggler {
    border: none;
  }
  
  .navbar-toggler:focus {
    box-shadow: none;
  }

  